body {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 16px;
  position: relative;
}

header h1 {
  font-size: 65px;
  margin: 0;
  margin-left: 45px;
}

#search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 45px;
}

#search-input {
  padding: 4px;
  font-size: 11px;
  width: 120px;
}

#search-button {
  padding: 4px;
  margin-left: 4px;
  font-size: 10px;
  cursor: pointer;
}

#logout-button {
  font-size: 10px; /* Manja veličina fonta za dugme */
  padding: 3px 8px; /* Manji razmak unutar dugmeta */
  margin-top: 1px; /* Razmak od korisničkog imena */
  margin-left: 15px; /* Razmak od desne ivice */
  margin-right: 15px;
  cursor: pointer; /* Indikator da je dugme klikabilno */
  border: none; /* Uklanjanje ivice dugmeta */
  background-color: #555; /* Tamnija pozadina za dugme */
  color: #fff; /* Bele boje teksta */
  border-radius: 5px; /*Zaobljeni uglovi dugmeta*/ 
}

#logout-button:hover {
  background-color: #777; /* Svetlija pozadina pri prelazu miša */
  text-decoration: underline;
}

#profile {
  position: absolute;
  top: 10px;
  right: 25px;
  text-align: center; 
  display: block;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 1px; 
}

#username {
  font-size: 18px; 
  color: #fff;
  margin-top: 1px;
  cursor:pointer;
}

#username:hover {
  text-decoration: underline; 
  /* ili */
  /*font-weight: bold; /* Podebljanje teksta */
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#upload-form {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

#models-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.post {
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.model-container {
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
}

.post-content {
  margin-top: 10px;
  font-size: 20px;
}

.post h3 {
  margin: 10px 0;
}

.post p {
  color: #666;
}