body {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 16px;
  position: relative;
}

header h1 {
  font-size: 65px;
  margin: 0;
  margin-left: 45px;
}

#search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 45px;
}

#search-input {
  padding: 4px;
  font-size: 11px;
  width: 120px;
}

#search-button {
  padding: 4px;
  margin-left: 4px;
  font-size: 10px;
  cursor: pointer;
}

#profile {
  position: absolute;
  top: 10px;
  right: 25px;
  text-align: center; /* Promijenjeno iz 'right' u 'center' */
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 1px; /* Smanjen razmak */
}

#username {
  font-size: 18px; /* Smanjena veličina fonta */
  color: #fff; /* Dodana boja fonta za bolju vidljivost */
  margin-top: 1px;
  cursor:pointer;
}

#username:hover {
  text-decoration: underline; /* Podvlačenje teksta */
  /* ili */
  /*font-weight: bold; /* Podebljanje teksta */
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#upload-form {
  margin-bottom: 20px;
  text-align: center;
}

#models-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.post {
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.model-container {
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
}

.post-content {
  margin-top: 10px;
  font-size: 20px;
}

.post h3 {
  margin: 10px 0;
}

.post p {
  color: #666;
}
