body {
    font-family: "Jersey 10", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 16px;
    position: relative;
  }
  
  header h1 {
    font-size: 65px;
    margin: 0;
  }
  
  #search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  #search-input {
    padding: 4px;
    font-size: 11px;
    width: 120px;
  }
  
  #search-button {
    padding: 4px;
    margin-left: 4px;
    font-size: 10px;
    cursor: pointer;
  }
  
  #profile {
    text-align: center;
  }
  
  #profile-pic {
    width: 100px; /* Povećava veličinu profila */
    height: 100px; /* Povećava veličinu profila */
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  #model-viewer {
    /* Stilizirajte prostor za prikaz 3D modela prema vašim potrebama */
  }
  
  #model-history {
    margin-top: 20px;
  }
  
  #model-history h2 {
    margin-bottom: 10px;
  }
  
  #model-history ul {
    list-style: none;
    padding: 0;
  }
  
  #model-history li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  #model-history li:last-child {
    border-bottom: none;
  }
  
  #model-history .model-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  #model-history .model-link:hover {
    color: #666;
  }
  