body
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


h1
{
    color: #586366;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align:center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: "Jersey 10", sans-serif;
}

h2
{
    color: #586366;
    position: absolute;
    text-align: center;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: "Jersey 10", sans-serif;

}
nav
{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 20px;
}

.navbar
{
    overflow: hidden;
    padding: 0px 0;
    
    
}
.navbar a 
{
    float: left;
    display: inline;
    color: white;
    margin-right: 10px;
}

.auth-links {
    float: right;
    margin-right: 0px;
}

.auth
{
    font-family: "Jersey 10", sans-serif;
    background-color: #586366;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 10px;
    text-decoration: none;

}

.navbar a:hover
{
    background-color: #E0C6F7;
}

#animation
{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}